<script lang="ts">
    export let id = 'flag-icons-gb'
    export let language = 'English'
</script>
<div
    class="inline-flex font-medium text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer"
>
<svg
class="border-gray-500 w-5 h-5 mr-2 rounded-full"
xmlns="http://www.w3.org/2000/svg"
id={id}
viewBox="0 0 512 512"
>
<slot />
</svg>
{language}
</div>