<script lang="ts">
    import { Button, Rating, Spinner } from "flowbite-svelte";
    import { ThumbsDownSolid, ThumbsUpSolid } from "flowbite-svelte-icons";
    import { loading } from "../lib/store";

    export let post: any;
</script>
{#if $loading}
    <Spinner size={8} />
{/if}

{#if post && !$loading}
    <div class="article">
        <h1>{post.name}</h1>
        {@html post.description}
    </div>
    <div class="flex items-center flex-col">
        <Rating id="example-1" total={5} size={50} rating={1.4} />
        <div class="flex flex-wrap p-8 items-center gap-12">
            <Button pill={true} outline={true} class="!p-2" size="lg">
                <ThumbsUpSolid
                    class="w-6 h-6 text-primary-700 hover:text-white"
                />
            </Button>
            <Button pill={true} outline={true} class="!p-2" size="xl">
                <ThumbsDownSolid
                    class="w-6 h-6 text-primary-700 hover:text-white"
                />
            </Button>
        </div>
    </div>
{/if}

<style>
    h1 {
        font-weight: bold;
    }
</style>
