<script lang="ts">
    import { _ } from "svelte-i18n";
    import { HeroHeader, HeroBody } from "flowbite-svelte-blocks";
</script>

<section class="pb-4 mx-auto max-w-screen-xl text-center lg:pb-8 with-background">
    <HeroHeader>
        <svelte:fragment slot="h1">{$_("welcome")}</svelte:fragment>
        <svelte:fragment slot="paragraph"
            ><div class="pb-5">{$_("welcome_paragraph")}</div></svelte:fragment
        >
    </HeroHeader>
    <HeroBody>
        <svelte:fragment slot="head"></svelte:fragment>
    </HeroBody>
</section>
