<script lang="ts">
    import { _ } from "svelte-i18n";
    import { getPillar } from "../lib/wordpressinterface";
    import type { Question } from "../lib/types";
    import { currentQuestion } from "../lib/store";
    export let questions: Question[] = [];

    function handleKeydown(event: KeyboardEvent) {}
    function handleClick(question: Question) {
        currentQuestion.set(question.id)
        getPillar(question.pillar);
    }
</script>

<ol
    class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse p-12"
>
    {#each questions as question, i}
        <li class="flex items-center space-x-2.5 rtl:space-x-reverse">
            <div
                tabindex={i}
                role="button"
                on:click={() => {
                    handleClick(question);
                }}
                on:keydown={handleKeydown}
            >
                <span
                    class="flex items-center justify-center w-8 h-8 border {question.id === $currentQuestion ? 'border-gray-500' : 'border-black-600'} rounded-full"
                >
                    {question.id}
                </span>
                <!-- <span>
                <h3 class="font-medium leading-tight">{question.title}</h3>
                <p class="text-sm">{$_("step_details")}</p>
            </span> -->
            </div>
        </li>
    {/each}
</ol>
