/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;


.article .wp-block-heading {
    font-weight: bold;
}

.article p {
    padding: 12px;
}

.article a {
    color: blue;
    text-decoration: underline;
}

.article ul{
    padding: 12px;
    list-style-type: square;
    list-style-position: inside;
}

.article blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
}
