<script lang="ts">
  import { _ } from "svelte-i18n";
  import Topbar from "./components/TopBar.svelte";
  import Hero from "./components/Hero.svelte";
  import { onMount } from "svelte";
  import { post } from "./lib/wordpressinterface";
  import Article from "./components/Article.svelte";
  import Stepper from "./components/Stepper.svelte";
  import { parties, questions, getQuestions } from "./lib/store";

  onMount(() => {
    getQuestions();
  });
</script>

<Topbar />
<main
  class="relative lg:px-6 lg:pt-6 md:px-4 md:py-4 sm:px-2 sm:py-2 xs:px-2 xs:py-2"
>
  <Hero />
  <Stepper questions={$questions} />
  <div class="page p-12">
    <Article post={$post} />
  </div>
  <div class="flex">
    {#each $parties as party}
      <div class="w-1/6 bg-gray-400 h-12">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">
              {party.name}
            </div>
          </div>
        </div>
      </div>
    {/each}
  </div>
  <p class="footer text-center">
    <span class="my-2 text-2l tracking-tight dark:text-white"
      >{$_("copyright")}</span
    >
  </p>
</main>

<style>
  .page {
    padding: 1em;
  }
</style>
